<h1>Index</h1>
<p><%= link_to "New", new_space_path(@space) %></p>
<p> <%= link_to "Home", root_path %></p>
<p><%= link_to "Booking", bookings_path(@booking) %></p>

<% @spaces.each do |space|%>
<%= space.name %>
<%= space.description %>

    <% end %>
