
<h1 class="text-center">Event spaces in ya area! 🎉</h1>
<div class="flex pl-2">
</div>
<div class="text-center index-color">
<h2>MiSpace is your space </h2>
<br>
</div>

<div class="cards container pb-10 ">
<% @spaces.each do |space|%>
  <div class="card-trip">
<% if space.photos.attached? %>
  <% space.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2 class="index-color-orange"><%=space.name%></h2>
      <p><%= link_to "Learn More", space_path(space) %></p>
      <p><%=space.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%=space.price%>$</h2>
    <img src="https://res.cloudinary.com/dfx8gzbl4/image/upload/v1686049497/b2344430-b52f-4327-a75d-98954ffe3407_kkseel.jpg" class="card-trip-user avatar-bordered" />
  </div>
</div>
<%end%>
