<h1>Index</h1>
<%= button_to "New", new_space_path(@space), method: :get, class: "btn btn-warning text-white" %>
<%= button_to "Home", root_path, method: :get, class: "btn btn-warning text-white"  %>
<%= button_to "Booking", bookings_path(@booking), method: :get, class: "btn btn-warning text-white" %>

<<<<<<< HEAD
<ul>
  <% @spaces.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.description %></li>
    <li><%= button_to "Reserve", bookings_path(space_id: space.id), method: :post, class: "btn btn-primary" %></li>
  <% end %>
=======
<ul><% @spaces.each do |space|%>
  <li><%= space.name %></li>
  <li><%= space.description %></li>
  <li><%= link_to "See Space", space_path(space.id)  %></li>
  <br>
    <% end %>
>>>>>>> master
</ul>
<br>
