<div class = "container">

  <h1 class="text-center" style="color:#fb923c" >Here are your listings 💘 </h1>
  <br>
  <h2 class="index-color">Your bookings:</h2>
  <br>
  <div class="cards container pb-10 ">
    <% @bookings.each do |booking|%>
      <div class="card-trip">
    <% if booking.space.photos.attached? %>
      <% booking.space.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2 class="index-color-orange"><%=booking.space.name%></h2>
          <p> Beginning: <%= booking.start_date.strftime("%B") %> <%= booking.start_date.strftime("%d") %>, <%= booking.start_date.strftime("at %I:%M%p") %></p>
          <p> Ending: <%= booking.end_date.strftime("%B") %> <%= booking.end_date.strftime("%d") %>, <%= booking.end_date.strftime("at %I:%M%p") %> </p>
          <p><%=booking.space.description%></p>
          <div class = "flex">
          <%= link_to "",booking_path(booking),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash fa-lg pt-3 pr-2"%>
          <%= link_to "",edit_booking_path(booking), class: "fa-solid fa-pen p-2" %>
          <%= link_to "Learn More", space_path(booking.space), class: "p-2 learn" %>
          </div>
        </div>
        <h2 class="card-trip-pricing"><%=booking.space.price%>$</h2>
        <img src="https://res.cloudinary.com/dfx8gzbl4/image/upload/v1686049497/b2344430-b52f-4327-a75d-98954ffe3407_kkseel.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <%end%>
  </div>

  <h2 class="index-color">Your Listed spaces:</h2>
  <br>
  <div class="cards container pb-10 ">
    <% @spaces.each do |space|%>
      <div class="card-trip">
    <% if space.photos.attached? %>
      <% space.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2 class="index-color-orange"><%=space.name%></h2>
          <p><%=space.description%></p>
         <div class = "flex">
            <%= link_to "",space_path(space),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash fa-lg pt-3 pr-2"%> </p>
            <%= link_to "",edit_space_path(space), class: "fa-solid fa-pen p-2"%> </p>
            <%= link_to "Learn More", space_path(space), class: "p-2 learn" %></p>
          </div>
        </div>
        <h2 class="card-trip-pricing"><%=space.price%>$</h2>
        <img src="https://res.cloudinary.com/dfx8gzbl4/image/upload/v1686049497/b2344430-b52f-4327-a75d-98954ffe3407_kkseel.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <%end%>
  </div>
</div>
