<!DOCTYPE html>
<html>
  <head>
    <title>MiSpace</title>
    <link rel="icon" href="https://res.cloudinary.com/dfx8gzbl4/image/upload/v1686046541/Untitled_design_3_atqumx.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
